.all{
    margin: auto;
    width: auto;
    max-width: 1250px;
}
.header {
    background-color: rgba(128, 128, 128, 0.73);
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr;
    position: sticky;
    top: 0;
    width: 100%;
}

.menu {
    height: 25px;
    background-color: rgba(128, 128, 128, 0.73);
    margin-top: 5px;

}

.menu div ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;




}
.menu div ul li{
    margin-right: 10px;
}

.container {
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-auto-rows: minmax(600px, auto);
    background-color: white;
}

.container .side-bar {
    background-color: rgba(224, 222, 222, 0.73);
    display: grid;
    margin-right: 5px;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}
.container.side-bar .side-bar-video{
    margin-bottom: 10px;
}
img{
    max-width: 370px;
    width: auto;
}

.container .main-display {
    background-color: rgba(205, 205, 205, 0.73);
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.container .main-display div {
    margin: 10px;
}
.container .main-display .brief p{
    text-indent: 25px;
    text-align: justify;
}


.container .content {
    display: grid;
    grid-template-rows: 1fr 1fr;

}

.footer {
    background-color: rgba(128, 128, 128, 0.73);
    height: 50px;
    color: white;
    text-align: center;
}
.footer p{
    padding: 15px;
}

* {
    margin: 0;

}
a{
    text-decoration: none;
}
a:hover {

    color: red;

}
