p {
    text-indent: 30px;
    text-align: justify;
    font-family: Arial;
}
body{
    margin-left: 400px;
    margin-right: 400px;
}

a {
    color: blue;
    text-decoration: none;
}

h1 {
    line-height: 0.10;
}

#p2 {
    font-size: 12px;
    text-indent: 5px;
    margin: 0;
}
hr{
    margin: 0;
}
